body {
    background-color: blueviolet;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    font-size: 50px;
}

.clickable-text {
    font-weight: bold;
}

.project-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-object {
    list-style: none;
    width: 75vw;
    border: 5px solid black;
    margin: 5px;
    border-radius: 20px;
}

.project-object table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-content {
    width: 600px;
}